{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Использование современных технологий выводит fireTag на принципеально новый уровень..."> 
    <meta name="keywords" content="Фаертаг, 13 район, лазертаг, военные игры">
    <link rel="icon" type="image/png" href=""> 
    {% load staticfiles %}
    <title>13 район</title>
        <style type="text/css">
            .nav {padding-left: 0;}.nav li {display: inline;list-style-type: none;padding-right: 20px;}.container {width: 940px;margin: 0 auto}.content {float: left;width: 80%;}.test {background-color: orange;}.sidebar {float: left;width: 20%;}
        </style>
    {% render_block "css" %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="{% static 'js/news_script.js' %}" defer></script>
    <script src="{% static 'js/serv_script.js' %}" defer></script>
</head>
<body>
{%cms_toolbar%}
<a name="main"></a>
<header class="header">
    <div class="container header_content ">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-4 col-xl-4 col-lg-4 logo">
          <img src="{% static 'img/logo.png' %}" alt="logo">
        </div>
        <section class="col-xs-12 col-sm-12 col-md-8 col-xl-8 col-lg-8">
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-xl-4 col-lg-4 contact_block">
              <div class="row">
                <div class="col-sm-2 col-xl-2 col-lg-2">
                  <i class="far fa-clock icons fa-2x"></i>
                </div>
                <div class="col-sm-10 col-xl-10 col-lg-10">
                  Мы работаем:
                  <p>пн-пт 9:00-20:00</p>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-xl-4 col-lg-4 contact_block">
             <div class="row">
              <div class="col-sm-2 col-xl-2 col-lg-2">
               <i class="fas fa-envelope-square icons fa-2x"></i>
             </div>
             <div class="col-sm-10 col-xl-10 col-lg-10">
              Почта:
              <p>mail@mail.ru</p>
            </div>
          </div>  
        </div>
        <div class="cols-xs-12 col-sm-4 col-md-4 col-xl-4 col-lg-4 contact_block">
          <div class="row">
            <div class="col-sm-2 col-xl-2 col-lg-2">
             <i class="fas fa-phone-square icons fa-2x"></i>
           </div>
           <div class="col-sm-10 col-xl-10 col-lg-10">
            Телефон:
            <p>+7(917) 491-41-88</p>
          </div>
        </div>    
      </div>
    </div>
  </section>
</div>
</div>
<div class="menu">
  <div class="container menu_content">
    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8 col-xl-8 leftbar">
        <nav id="navbarID">
         <ul>
          <i class="fas fa-bars fa-2x" id="toggle-btn"></i>
          <li class="desktop-menu-item "><a id="no-border" href="#main">Главная</a></li>
          <li class="desktop-menu-item"><a href="#about">О нас</a></li>
          <li class="desktop-menu-item"><a href="#firetag">FireTag</a></li>
          <li class="desktop-menu-item"><a href="#news">Новости</a></li>
          <li class="desktop-menu-item"><a href="#services">Услуги</a></li>
          <li class="desktop-menu-item"><a href="#equip">Оборудование</a></li>
          <li class="desktop-menu-item"><a href="#contact">Контакты</a></li>
        </ul>
      </nav>           
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 parallelogram"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 rightbar">
      <button class="orderCall" id="more_btn">
        <div id="orderText">Заказать звонок</div>
      </button>
    </div>
  </div>
</div>
</div>     
</header>

<div class="fireLazertag">
  <div class="fireLazertag_content">
    <div class="row mobile-menu"> 
     <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8  mobile-tab">
      <nav id="mobile">
        <ul>
          <a href="#main">
            <li class="menu-item">Главная</li>
          </a>
          <a href="#about">
            <li class="menu-item">О нас</li>
          </a>
          <a href="#firetag">
            <li class="menu-item">FireTag</li>
          </a>
          <a href="#news">
            <li class="menu-item">Новости</li>
          </a>
          <a href="#services">
            <li class="menu-item">Услуги</li>
          </a>
          <a href="#equip">
            <li class="menu-item">Оборудование</li>
          </a>
          <a href="#contact">
            <li class="menu-item">Контакты</li>
          </a>
        </ul>
      </nav>  
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
    </div> 
    <div id="hidden">
        <i class="far fa-times-circle fa-3x close_btn"></i>
            <p class="popup_title">
                Заявка
            </p>
            <p class="popup_title">
                на обратный звонок
            </p>

            <form method="post" action="/order/">
        {% csrf_token %}
                <input required type="text" placeholder="Ваше имя" maxlength="40" name="name">
                <input required class="input-phone" placeholder="Телефон" name="phone">
                <button>Отправить</button>
            </form>
    </div>
     <div id="slider">
        <div class="imgContainer">
            <div class="img prev">
                <img alt="Pic1" class="pic" src="{% static 'img/Pic1.png' %}">
            </div>
    
            <div class="img curr">
                <img alt="Pic2" class="pic" src="{% static 'img/Pic2.png' %}">
            </div>
    
            <div class="img next">
                <img alt="Pic3" class="pic" src="{% static 'img/Pic3.png' %}">
            </div>

            <!-- Сюда добавлять картинки -->
            
            <!-- Сюда добавлять картинки -->

            <div class="indicator">
                <div class="circle"></div>
                <div class="circle on"></div>
                <div class="circle"></div>
        </div>
        </div>

        <a id="slider-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <a id="slider-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
    
</div>
<div class="fireLazertag_bg"></div>
</div>

<div class="about">
  <div class="about_content">
    <a name="about"></a>
    <div class="about_tit">
          <p>О НАС</p>
          <img alt="separ" src="{% static 'img/about-separ.png' %}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-xs-3 about_circle">
        <div class=about-in-circle>
          <img alt="About_Pic1" class=about_img src="{% static 'img/About_cir1.png' %}">
          <img alt="About_Pic2" class=about_img src="{% static 'img/About_cir3.png' %}">
          <img alt="About_Pic3" class=about_img src="{% static 'img/About_cir2.png' %}">
          <img alt="About_Pic4" class=about_img src="{% static 'img/About_cir4.png' %}">
          <div class="about_click_img about_click1"></div>
          <div class="about_click_img about_click2"></div>
          <div class="about_click_img about_click3"></div>
          <div class="about_click_img about_click4"></div>
        </div>
            </div>

            <section class="col-xl-8 col-lg-8 col-md-9 col-sm-9 col-xs-9 about_text">
              {% block content %}{% endblock content %}
            </section>
        </div>
      </div>
    </div>
  </div>
  <div class="about_bg"></div>
</div>

<div class="whatIsFiretag">
    <div class="whatIsFiretag_content">
        <a name="firetag"></a>
        <div class="container">
        <div class="row" >
            <div class="col-12 whatis_title"><h1><b>Что такое <span id="colortitle">Firetag?</span></b></h1></div>
        </div>
        <div class="row">
            <div class="col-12 whatis_title">
                <p>
                    Firetag &mdash; первая реалистичная имитация боевых действий
                </p>
                <img alt="separ"  src="{% static 'img/about-separ.png' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2 "></div>
            <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3  superiority">
                <img alt="superiority1" src="{% static 'img/superiority-1.png' %}" alt="superiority-1">
                <p class="superiority_title">Максимальный реализм</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "></div>
            <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3  superiority">
                <img alt="superiority2" src="{% static 'img/superiority-2.png' %}" alt="superiority-2">
                <p class="superiority_title">Поле боя будущего</p>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2 "></div>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 superiority">
                <img alt="superiority3" src="{% static 'img/superiority-3.png' %}" alt="superiority-3">
                <p class="superiority_title">Тактика и стратегия</p>
                <p class="superiority_text">Современное оборудование позволяет в реальном времени упаравлять боем</p>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-6 col-lg-6"></div>
            <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 superiority">
                <img alt="superiority4" src="{% static 'img/superiority-4.png' %}" alt="superiority-4">
                <p class="superiority_title">Рейтинговая система</p>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3"  id="superiority-5">
                <img alt="superiority5" src="{% static 'img/superiority-5.png' %}" alt="superiority-5">
                <p class="superiority_title">Современная экипировка</p>
                <p class="superiority_text">Полностью переработанная экипировка может использоваться с любой формой и нечувствительная к рикошету</p>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
            </div>
            <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3 superiority">
                <img alt="superiority6" src="{% static 'img/superiority-6.png' %}" alt="superiority-6">
                <p class="superiority_title">Буря эмоций</p>
                <p class="superiority_text">От лихорадочного стресса боя до восторга победы</p>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 whatis_soldier">
                <img alt="soldier" src="{% static 'img/whatis_soldier.png' %}" alt="soldier">
                <button id="more_btn1">
                    Записаться на игру
                </button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        </div>
        </div>
    </div>
 <div class="whatis_bg"></div>
</div>

<div class="clubNews">
  <div class="clubNews_content">
    <a name="news"></a>
    <div class="clubNews_tit">
          <p>НОВОСТИ КЛУБА</p>
          <img alt="separ" src="{% static 'img/about-separ.png' %}" >
    </div>

    <div class="menu_news">
      <div class="menu_news_container">
        <div class="news_button curr_button" onclick="parkButton()">
          <p>Новые площадки</p>
       </div>

        <div class="news_button" onclick="equip()">
          <p>Новое оборудование</p>
        </div>

        <div class="news_button" onclick="events()">
          <p>Мероприятия клуба</p>
        </div>
      </div>
    </div>

    <div class="news_content">
      <div class="news_content_container curr">
        <div class="news_content_block">
          <img alt="place" class="news_block_img" src="{% static 'img/place.png' %}">

          <section class="news_block_text">
            <h1>Place 1</h1>
            {% placeholder "descr_place1" %}
          </section>
          
          <section class="news_block_open">
            <p>Открыть ></p>
          </section>
        </div>

        <div class="news_content_block">
          <img alt="place" class="news_block_img" src="{% static 'img/place.png' %}">

          <section class="news_block_text">
            <h1>Place 2</h1>
            {% placeholder "descr_place2" %}
          </section>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img alt="place" class="news_block_img" src="{% static 'img/place.png' %}">

          <section class="news_block_text">
            <h1>Place 3</h1>
            {% placeholder "descr_place3" %}
          </section>
          
          <div class="news_block_open">
            <p>Открыть</p>
          </div>
        </div>
      </div>

      <div class="news_content_container">
        <div class="news_content_block">
          <img alt="item1" class="news_block_img" src="{% static 'img/item1.png' %}">

          <section class="news_block_text">
            <h1>Item 1</h1>
            {% placeholder "descr_item1" %}
          </section>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img alt="item2"  class="news_block_img" src="{% static 'img/item2.png' %}">

          <section class="news_block_text">
            <h1>Item 2</h1>
            {% placeholder "descr_item2" %}
          </section>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img alt="item3"  class="news_block_img" src="{% static 'img/item3.png' %}">

          <section class="news_block_text">
            <h1>Item 3</h1>
            {% placeholder "descr_item3" %}
          </section>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>
      </div>

      <div class="news_content_container">
        <div class="news_content_block">
          <img alt="event1"  class="news_block_img" src="{% static 'img/event1.png' %}">

          <section class="news_block_text">
            <h1>Event 1</h1>
            {% placeholder "descr_event1" %}
          </section>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img alt="event2" class="news_block_img" src="{% static 'img/event2.png' %}">

          <section class="news_block_text">
            <h1>Event 2</h1>
            {% placeholder "descr_event2" %}
          </section>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img alt="event3" class="news_block_img" src="{% static 'img/event3.png' %}">

          <section class="news_block_text">
            <h1>Event 3</h1>
            {% placeholder "descr_event3" %}
          </section>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news_bg"></div>
</div>

<div class="services">
  <div class="services_content">
    <a name="services"></a>
    <div class="clubServices_tit">
          <h1><span class="serv_red_title">НАШИ</span> УСЛУГИ</h1>
          <img alt="separ" src="{% static 'img/about-separ.png' %}" />
    </div>

    <div class="serv_content">
          <div class="serv_content_container">
              <div class="serv_content_block">
          <img alt="serv1" class="serv_block_img" src="{% static 'img/serv1.png' %}">
          <div class="serv_block_text">
            <div class="serv_name_text"> </div>

            <p>КОРПОРАТИВНЫЕ ИГРЫ</p>
          </div>
          
          <section class="serv_block_open">
            <div class="serv_block_open_back"></div>
            <h1>КОРПОРАТИВНЫЕ ИГРЫ</h1>
            <div class="serv_name_text"></div>
            {% placeholder "game1" %}
          </section>
        </div>

        <div class="serv_content_block">
          <img alt="serv2" class="serv_block_img" src="{% static 'img/serv2.png' %}">
          <div class="serv_block_text">
            <div class="serv_name_text"> </div>

            <p id="serv_corr_font">КРУПНЫЕ</p>
            <p id="serv_corr_font">ВОЕННО-ТАКТИЧЕСКИЕ ИГРЫ</p>
          </div>
          
          <section class="serv_block_open">
            <div class="serv_block_open_back"></div>
            <h1 id="serv_corr_font_open_1">КРУПНЫЕ</h1>
            <h1 id="serv_corr_font_open_2">ВОЕННО-ТАКТИЧЕСКИЕ ИГРЫ</h1>
            <div class="serv_name_text"></div>
            {% placeholder "game2" %}
          </section>
        </div>

        <div class="serv_content_block">
          <img alt="serv3" class="serv_block_img" src="{% static 'img/serv3.png' %}">
          <div class="serv_block_text">
            <div class="serv_name_text"> </div>

            <p>ДЕТСКИЙ ЛАЗЕРТАГ</p>
          </div>
          
          <section class="serv_block_open">
            <div class="serv_block_open_back"></div>
            <h1>ДЕТСКИЙ ЛАЗЕРТАГ</h1>
            <div class="serv_name_text"></div>
            {% placeholder "game3" %}
          </section>
        </div>

        <div class="serv_content_block">
          <img alt="serv4"  class="serv_block_img" src="{% static 'img/serv4.png' %}">
          <div class="serv_block_text">
            <div class="serv_name_text"> </div>

            <p>АРЕННЫЙ ЛАЗЕРТАГ</p>
          </div>
          
          <section class="serv_block_open">
            <div class="serv_block_open_back"></div>
            <h1>АРЕННЫЙ ЛАЗЕРТАГ</h1>
            <div class="serv_name_text"></div>
            {% placeholder "game4" %}
          </section>
        </div>
          </div>
    </div>
  </div>
  <div class="services_bg"></div>
</div>

<div class="equipment">
    
  <div class="equipment_content">
    <div class="equipment_tit">
        <a name="equip"></a>
        <p>ОБОРУДОВАНИЕ FIRETAG</p>
        <img alt="separ" src="{% static 'img/about-separ.png' %}" />
    </div>
    <div class="people">
        <img alt="pupa" src="{% static 'img/Pupa_lupa_and_kupa.png' %}">
    </div>
    <div class="container table">

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 table_el">
                <div>
                    <img alt="eq-1"  src="{% static 'img/eq-1.png' %}">
                    <section>
                        Штабное оборудование позволяет контролировать поле боя в реальном времени.
                    </section>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 table_el">
                <div>
                    <img alt="eq-2" src="{% static 'img/eq-2.png' %}">
                    <section>
                        БПЛА способны оказывать воздушную поддержку подразделениям
                        1)Бомбометание
                        <br>2)Разведка
                        <br>3)Сброс снабжения 
                    </section>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 table_el">
                <div>
                    <img alt="eq-3" src="{% static 'img/eq-3.png' %}">
                    <section>
                        Универсальные лазерные
                        модули могут использоваться
                        с любым видом охолощенного
                        оружия
                    </section>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 table_el">
                <div>
                    <img alt="eq-4" src="{% static 'img/eq-4.png' %}">
                    <section>
                        Датчики, созданные по новой
                        технологии не чувствительны
                        к переотражению( очень большая проблема для лазертага и фаертага)
                    </section>
                </div>
            </div>
        </div>
        <div class="row second_row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 table_el">
                <div>
                    <img alt="eq-5" src="{% static 'img/eq-5.png' %}">
                    <section>
                        Миниатюрные разведывательные дроны
                        (удаленное управление с наручного компьютера)
                    </section>>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 table_el">
                <div>
                    <img alt="eq-6" src="{% static 'img/eq-6.png' %}">
                    <section>
                        Носимые турели.
                        (удаленное управление с наручного компьютера)
                    </section>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 table_el">
                <div>
                    <img alt="eq-7" src="{% static 'img/eq-7.png' %}">
                    <section>
                        Наручный компьютер позволяет получать своевременную
                        информацию из штаба и запрашивать поддержку
                    </section>
                </div>
            </div>
        </div>
    </div>
 </div>
 <div class="equip_bg"></div>
</div>

<div class="map">
  <div class="map_content">
<script async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A81144eebb208395635786e319f5bbbd9441ede046e60c3526ae8e51a9e54b03c&amp;width=100%25&amp;height=620&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <div class="map_bg"></div>
</div>

<footer class="footer">
    <a name="contact"></a>
  <div class="footer_content">
    <div class="container footer_container">
        <div class="row contacts">
            <div class="col-xs-12 col-md-6">
            <div class="row foot-logo"> 
                <div class="col-xs-4 col-md-6 footer-logo">
                    <img alt="logo1" src="{% static 'img/logo1-1.png' %}" alt="13 район">
                </div>
                <div class="col-xs-8 col-md-6 footer-adress">
                    <hr>
                    <p>Россия, Московская область, Красногорск, Ильинский тупик, 6А, 143405</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row footer_partners">
                <div class="col-xs-4 flex-item">
                    <img alt="logo2" src="{% static 'img/logo2.png' %}" alt="TEXET">
                </div>
                <div class="col-xs-4 flex-item">
                    <img alt="logo3" src="{% static 'img/logo3.png' %}" alt="IFSA">
                </div>
                <div class="col-xs-4 flex-item">
                    <img alt="logo4" src="{% static 'img/logo4.png' %}" alt="Фармтек">
                </div>
            </div>
         </div>
        </div>
      <div class="row links">
        <div class="col-xs-0 col-md-6"></div>
        <div class="col-xs-9 col-md-4 document-links">
            <p><a href="#">Политика в отношении обработки персональных данных</a></p>
            <p><a href="#">Согласие на обработку персональных данных</a></p>
        </div>
        <div class="col-xs-3 col-md-2 flex-item">
            <button class="social">
                <i class="fab fa-vk fa-md"></i>
            </button>
            <button class="social">
                <i class="fab fa-instagram fa-md"></i>
            </button>
        </div>
        </div>
    </div>
  </div>
  <div class="footer_bg">
  </div>
</footer>
{%render_block "js"%}
</body>
</html>
