<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Последняя компиляция и сжатый CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Дополнение к теме -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Последняя компиляция и сжатый JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Выше 3 Мета-теги ** должны прийти в первую очередь в голове; любой другой руководитель контент *после* эти теги -->
  <title>13 РАЙОН</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- Предупреждение: Respond.js не работает при просмотре страницы через файл:// -->
    <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script >
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script type="text/javascript" src="js/menu.js"></script>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script src="js/script.js" defer></script>
</head>


<body>
<div class="header">
    <div class="container header_content ">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-4 col-xl-4 col-lg-4 logo">
          <img src="img/logo.png">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-xl-8 col-lg-8">
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-xl-4 col-lg-4 contact_block">
              <div class="row">
                <div class="col-sm-2 col-xl-2 col-lg-2">
                  <i class="far fa-clock icons fa-2x"></i>
                </div>
                <div class="col-sm-10 col-xl-10 col-lg-10">
                  Мы работаем:
                  <p>пн-пт 9:00-20:00</p>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-xl-4 col-lg-4 contact_block">
             <div class="row">
              <div class="col-sm-2 col-xl-2 col-lg-2">
               <i class="fas fa-envelope-square icons fa-2x"></i>
             </div>
             <div class="col-sm-10 col-xl-10 col-lg-10">
              Почта:
              <p>mail@mail.ru</p>
            </div>
          </div>  
        </div>
        <div class="cols-xs-12 col-sm-4 col-md-4 col-xl-4 col-lg-4 contact_block">
          <div class="row">
            <div class="col-sm-2 col-xl-2 col-lg-2">
             <i class="fas fa-phone-square icons fa-2x"></i>
           </div>
           <div class="col-sm-10 col-xl-10 col-lg-10">
            Телефон:
            <p>+7(917) 491-41-88</p>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>
</div>
<div class="menu">
  <div class="container menu_content">
    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8 col-xl-8 leftbar">
        <nav id="navbarID">
         <ul>
          <i class="fas fa-bars fa-2x" id="toggle-btn"></i>
          <li class="desktop-menu-item"><a href="#">Главная</a></li>
          <li class="desktop-menu-item"><a href="#">О нас</a></li>
          <li class="desktop-menu-item"><a href="#">FireTag</a></li>
          <li class="desktop-menu-item"><a href="#">Новости</a></li>
          <li class="desktop-menu-item"><a href="#">Услуги</a></li>
          <li class="desktop-menu-item"><a href="#">Оборудование</a></li>
          <li class="desktop-menu-item"><a href="#">Контакты</a></li>
        </ul>
      </nav>           
    </div>
    <div class="col-xs-offset-7 col-sm-offset-7 col-md-offset-7 col-lg-offset-8 rightbar">
      <div class="orderCall">
        <div id="orderText">Заказать звонок</div>
      </div>
    </div>
  </div>
</div>
</div>     
</div>

<div class="fireLazertag">

  <div class="container-fluid fireLazertag_content">
    <div class="row"> 
     <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8  mobile-tab">
      <nav id="mobile">
        <ul>
          <a href="#">
            <li class="menu-item">Главная</li>
          </a>
          <a href="#">
            <li class="menu-item">О нас</li>
          </a>
          <a href="#">
            <li class="menu-item">FireTag</li>
          </a>
          <a href="#">
            <li class="menu-item">Новости</li>
          </a>
          <a href="#">
            <li class="menu-item">Услуги</li>
          </a>
          <a href="#">
            <li class="menu-item">Оборудование</li>
          </a>
          <a href="#">
            <li class="menu-item">Контакты</li>
          </a>
        </ul>
      </nav>  
    </div>

  </div>
  <div id="slider">
		<div class="imgContainer">
			<div class="img prev">
				<img class="pic" src="img/Pic1.png">
			</div>
	
			<div class="img curr">
				<img class="pic" src="img/Pic2.png">
			</div>
	
			<div class="img next">
				<img class="pic" src="img/Pic3.png">
			</div>

			<!-- Сюда добавлять картинки -->
			
			<!-- Сюда добавлять картинки -->

			<div class="indicator">
				<div class="circle"></div>
				<div class="circle on"></div>
				<div class="circle"></div>
   			</div>
		</div>

		<a id="slider-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
   		<a id="slider-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
	</div>
</div>
<div class="fireLazertag_bg">
  <!--img src="img/laser-bg.png" /-->
</div>
</div>

<div class="about">
  <div class="about_content">
    <!--Код блока about-->
	<div class="about_tit">
          <p>О НАС</p>
          <img src="img/about-separ.png" />
    </div>
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-3 col-sm-2 col-xs-2 about_circle">

			</div>
			<div class="col-xl-8 col-lg-8 col-md-9 col-sm-10 col-xs-10 about_text">
			  <p>Хотите погрузится в атмосферу голливудского боевика или почувствовать себя героем из видеоигры в реальности?</p>
			  <p>Новая военно-тактическая игра, используемая в тренировках армейского спецназа теперь доступна для вас!</p>
			  <p>Ни пейнтбол, ни страйкбол, ни лазертаг не могут сравниться по степени реализма при этом:</p>
			  <ul>
				<li>нет метаемого снаряда;</li>
				<li>не требуется защитное снаряжение;</li>
				<li>дистанция стрельбы до 1000 м;</li>
				<li>бывшее боевое охолощенное оружие.</li>
			  </ul>
			  <p>Мы можем организовать корпоративные фаертаг игры, мастер-классы и тренинги по обращению с оружием, тактике и полевой медицине, квесты и военно-спортивные мероприятия.</p>
			</div>
		</div>
	  </div>
	</div>
  </div>
  <div class="about_bg">
    <!--img src="img/about-bg.png" /-->
  </div>
</div>

<div class="whatIsFiretag">
  <div class="whatIsFiretag_content">
    <!--Код блока whatIsFiretag-->
  </div>
  <div class="whatis_bg">
    <!--img src="img/whatis-bg.png" /-->
  </div>
</div>

<div class="clubNews">
  <div class="clubNews_content">
    <!--Код блока clubNews-->
  </div>
  <div class="news_bg">
    <!--img src="img/news-bg.png" /-->
  </div>
</div>

<div class="services">
  <div class="services_content">
    SERVICES
  </div>
  <div class="services_bg">
    <!--img src="img/serv-bg.png" /-->
  </div>
</div>

<div class="equipment">
  <div class="equipment_content">
   EQUIPMENT
 </div>
 <div class="equip_bg">
  <!--img src="img/equip-bg.png" /-->
</div>
</div>

<div class="map">
  <div class="map_content">
    MAP
  </div>
  <div class="map_bg">
    <!--img src="img/map.png" /-->
  </div>
</div>

<div class="footer">
  <div class="footer_content">
    FOOOOOOTER
  </div>
  <div class="footer_bg">
    <!--img src="img/footer-bg.png" /-->
  </div>
</div>


<!-- на jQuery (необходим для Bootstrap - х JavaScript плагины) -->

<!-- Включают все скомпилированные плагины (ниже), или включать отдельные файлы по мере необходимости -->
<script src="js/bootstrap.js"></script>
</body>
</html>
