<!DOCTYPE html>
<html lang="ru">
<head>
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>13 РАЙОН</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script src="js/jquery.maskedinput.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script src="js/script.js" defer></script>
	<script src="js/news_script.js" defer></script>
	<script src="js/serv_script.js" defer></script>
</head>


<body>

	<a name="main"></a>
<div class="header">
    <div class="container header_content ">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-4 col-xl-4 col-lg-4 logo">
          <img src="img/logo.png">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-xl-8 col-lg-8">
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-xl-4 col-lg-4 contact_block">
              <div class="row">
                <div class="col-sm-2 col-xl-2 col-lg-2">
                  <i class="far fa-clock icons fa-2x"></i>
                </div>
                <div class="col-sm-10 col-xl-10 col-lg-10">
                  Мы работаем:
                  <p>пн-пт 9:00-20:00</p>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-xl-4 col-lg-4 contact_block">
             <div class="row">
              <div class="col-sm-2 col-xl-2 col-lg-2">
               <i class="fas fa-envelope-square icons fa-2x"></i>
             </div>
             <div class="col-sm-10 col-xl-10 col-lg-10">
              Почта:
              <p>mail@mail.ru</p>
            </div>
          </div>  
        </div>
        <div class="cols-xs-12 col-sm-4 col-md-4 col-xl-4 col-lg-4 contact_block">
          <div class="row">
            <div class="col-sm-2 col-xl-2 col-lg-2">
             <i class="fas fa-phone-square icons fa-2x"></i>
           </div>
           <div class="col-sm-10 col-xl-10 col-lg-10">
            Телефон:
            <p>+7(917) 491-41-88</p>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>
</div>
<div class="menu">
  <div class="container menu_content">
    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8 col-xl-8 leftbar">
        <nav id="navbarID">
         <ul>
          <i class="fas fa-bars fa-2x" id="toggle-btn"></i>
          <li class="desktop-menu-item "><a id="no-border" href="#main">Главная</a></li>
          <li class="desktop-menu-item"><a href="#about">О нас</a></li>
          <li class="desktop-menu-item"><a href="#firetag">FireTag</a></li>
          <li class="desktop-menu-item"><a href="#news">Новости</a></li>
          <li class="desktop-menu-item"><a href="#services">Услуги</a></li>
          <li class="desktop-menu-item"><a href="#equip">Оборудование</a></li>
          <li class="desktop-menu-item"><a href="#contact">Контакты</a></li>
        </ul>
      </nav>           
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 parallelogram"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 rightbar">
      <button class="orderCall" id="more_btn">
        <div id="orderText">Заказать звонок</div>
      </button>
    </div>
  </div>
</div>
</div>     
</div>

<div class="fireLazertag">
  <div class="container fireLazertag_content">
    <div class="row mobile-menu"> 
     <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8  mobile-tab">
      <nav id="mobile">
        <ul>
          <a href="#main">
            <li class="menu-item">Главная</li>
          </a>
          <a href="#about">
            <li class="menu-item">О нас</li>
          </a>
          <a href="#firetag">
            <li class="menu-item">FireTag</li>
          </a>
          <a href="#news">
            <li class="menu-item">Новости</li>
          </a>
          <a href="#services">
            <li class="menu-item">Услуги</li>
          </a>
          <a href="#equip">
            <li class="menu-item">Оборудование</li>
          </a>
          <a href="#contact">
            <li class="menu-item">Контакты</li>
          </a>
        </ul>
      </nav>  
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
	</div> 
	<div id="hidden">
		<i class="far fa-times-circle fa-3x close_btn"></i>
			<p class="popup_title">
				Заявка
			</p>
			<p class="popup_title">
				на обратный звонок
			</p>

			<form method="post" action="#">
				<input required type="text" placeholder="Ваше имя" autocomplete="none" maxlength="40">
				<input required class="input-phone" placeholder="Телефон"  autocomplete="none">
				<button>Отправить</button>
			</form>
    </div>
     <div id="slider">
		<div class="imgContainer">
			<div class="img prev">
				<img class="pic" src="img/Pic1.png">
			</div>
	
			<div class="img curr">
				<img class="pic" src="img/Pic2.png">
			</div>
	
			<div class="img next">
				<img class="pic" src="img/Pic3.png">
			</div>

			<!-- Сюда добавлять картинки -->
			
			<!-- Сюда добавлять картинки -->

			<div class="indicator">
				<div class="circle"></div>
				<div class="circle on"></div>
				<div class="circle"></div>
   		</div>
		</div>

		<a id="slider-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
   		<a id="slider-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
	</div>
	
</div>
<div class="fireLazertag_bg">
  <!--img src="img/laser-bg.png" /-->
</div>
</div>

<div class="about">
  <div class="about_content">
    <a name="about"></a>
	<div class="about_tit">
          <p>О НАС</p>
          <img src="img/about-separ.png" />
    </div>
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-xs-3 about_circle">
        <div class=about-in-circle>
          <img class=about_img src="img/About_cir1.png">
          <img class=about_img src="img/About_cir3.png">
          <img class=about_img src="img/About_cir2.png">
          <img class=about_img src="img/About_cir4.png">
          <div class="about_click_img about_click1"></div>
          <div class="about_click_img about_click2"></div>
          <div class="about_click_img about_click3"></div>
          <div class="about_click_img about_click4"></div>
        </div>
			</div>

			<div class="col-xl-8 col-lg-8 col-md-9 col-sm-9 col-xs-9 about_text">
			  <p>Хотите погрузится в атмосферу голливудского боевика или почувствовать себя героем из видеоигры в реальности?</p>
			  <p>Новая военно-тактическая игра, используемая в тренировках армейского спецназа теперь доступна для вас!</p>
			  <p>Ни пейнтбол, ни страйкбол, ни лазертаг не могут сравниться по степени реализма при этом:</p>
			  <ul>
				<li>нет метаемого снаряда;</li>
				<li>не требуется защитное снаряжение;</li>
				<li>дистанция стрельбы до 1000 м;</li>
				<li>бывшее боевое охолощенное оружие.</li>
			  </ul>
			  <p>Мы можем организовать корпоративные фаертаг игры, мастер-классы и тренинги по обращению с оружием, тактике и полевой медицине, квесты и военно-спортивные мероприятия.</p>
			</div>
		</div>
	  </div>
	</div>
  </div>
  <div class="about_bg">
    <!--img src="img/about-bg.png" /-->
  </div>
</div>

<div class="whatIsFiretag">
	<div class="whatIsFiretag_content">
		<a name="firetag"></a>
		<div class="container">
		<div class="row" >
			<div class="col-12 whatis_title"><h1><b>Что такое <span id="colortitle">Firetag?</span></b></h1></div>
		</div>
		<div class="row">
			<div class="col-12 whatis_title">
				<p>
					Firetag &mdash; первая реалистичная имитация боевых действий
				</p>
				<img src="img/about-separ.png" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2 "></div>
			<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3  superiority">
				<img src="img/superiority-1.png" alt="superiority-1">
				<p class="superiority_title">Максимальный реализм</p>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "></div>
			<div class="col-xs-5 col-sm-5 col-md-3 col-lg-3  superiority">
				<img src="img/superiority-2.png" alt="superiority-2">
				<p class="superiority_title">Поле боя будущего</p>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2 "></div>
		</div>
		<div class="row">
			<div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 superiority">
				<img src="img/superiority-3.png" alt="superiority-3">
				<p class="superiority_title">Тактика и стратегия</p>
				<p class="superiority_text">Современное оборудование позволяет в реальном времени упаравлять боем</p>
			</div>
			<div class="col-xs-2 col-sm-4 col-md-6 col-lg-6"></div>
			<div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 superiority">
				<img src="img/superiority-4.png" alt="superiority-4">
				<p class="superiority_title">Рейтинговая система</p>
			</div>
			<div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-5 col-sm-3 col-md-3 col-lg-3"  id="superiority-5">
				<img src="img/superiority-5.png" alt="superiority-5">
				<p class="superiority_title">Современная экипировка</p>
				<p class="superiority_text">Полностью переработанная экипировка может использоваться с любой формой и нечувствительная к рикошету</p>
			</div>
			<div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
			</div>
			<div class="col-xs-5 col-sm-3 col-md-3 col-lg-3 superiority">
				<img src="img/superiority-6.png" alt="superiority-6">
				<p class="superiority_title">Буря эмоций</p>
				<p class="superiority_text">От лихорадочного стресса боя до восторга победы</p>
			</div>
			<div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 whatis_soldier">
				<img src="img/whatis_soldier.png" alt="soldier">
				<button id="more_btn1">
					Записаться на игру
				</button>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
		</div>
		</div>
	</div>
 <div class="whatis_bg">
	<!--img src="img/whatis-bg.png" /-->
</div>
</div>

<div class="clubNews">
  <div class="clubNews_content">
    <a name="news"></a>
    <div class="clubNews_tit">
          <p>НОВОСТИ КЛУБА</p>
          <img src="img/about-separ.png" />
    </div>

    <div class="menu_news">
      <div class="menu_news_container">
        <div class="news_button curr_button" onclick="parkButton()">
          <p>Новые площадки</p>
       </div>

        <div class="news_button" onclick="equip()">
          <p>Новые оборудование</p>
        </div>

        <div class="news_button" onclick="events()">
          <p>Мероприятия клуба</p>
        </div>
      </div>
    </div>

    <div class="news_content">
      <div class="news_content_container curr">
        <div class="news_content_block">
          <img class="news_block_img" src="img/place.png"/>

          <div class="news_block_text">
            <h1>Площадка №1</h1>
            <p>Описание площадки</p>
          </div>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img class="news_block_img" src="img/place.png"/>

          <div class="news_block_text">
            <h1>Площадка №2</h1>
            <p>Описание площадки</p>
          </div>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img class="news_block_img" src="img/place.png"/>

          <div class="news_block_text">
            <h1>Площадка №3</h1>
            <p>Описание площадки</p>
          </div>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>
      </div>

      <div class="news_content_container">
        <div class="news_content_block">
          <img class="news_block_img" src="img/item1.png"/>

          <div class="news_block_text">
            <h1>Алмазный меч</h1>
            <p>Описание меча</p>
          </div>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img class="news_block_img" src="img/item2.png"/>

          <div class="news_block_text">
            <h1>Алмазная кирка</h1>
            <p>Описание кирки</p>
          </div>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img class="news_block_img" src="img/item3.png"/>

          <div class="news_block_text">
            <h1>Алмазный топор</h1>
            <p>Описание топора</p>
          </div>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>
      </div>

      <div class="news_content_container">
        <div class="news_content_block">
          <img class="news_block_img" src="img/event1.png"/>

          <div class="news_block_text">
            <h1>Ивент №1</h1>
            <p>Описание события</p>
          </div>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img class="news_block_img" src="img/event2.png"/>

          <div class="news_block_text">
            <h1>Ивент №2</h1>
            <p>Описание события</p>
          </div>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>

        <div class="news_content_block">
          <img class="news_block_img" src="img/event3.png"/>

          <div class="news_block_text">
            <h1>Ивент №3</h1>
            <p>Описание события</p>
          </div>
          
          <div class="news_block_open">
            <p>Открыть ></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news_bg">
    <!--img src="img/news-bg.png" /-->
  </div>
</div>

<div class="services">
  <div class="services_content">
  	<a name="services"></a>
    <div class="clubServices_tit">
          <h1><span class="serv_red_title">НАШИ</span> УСЛУГИ</h1>
          <img src="img/about-separ.png" />
    </div>

    <div class="serv_content">
		  <div class="serv_content_container">
			  <div class="serv_content_block">
          <img class="serv_block_img" src="img/serv1.png"/>
          <div class="serv_block_text">
            <div class="serv_name_text"> </div>

            <p>КОРПОРАТИВНЫЕ ИГРЫ</p>
          </div>
          
          <div class="serv_block_open">
            <div class="serv_block_open_back"></div>
            <h1>КОРПОРАТИВНЫЕ ИГРЫ</h1>
            <div class="serv_name_text"></div>
            <p>qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop</p>
            <p>qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop</p>
            <p>qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop</p>
          </div>
        </div>

        <div class="serv_content_block">
          <img class="serv_block_img" src="img/serv2.png"/>
          <div class="serv_block_text">
            <div class="serv_name_text"> </div>

            <p id="serv_corr_font">КРУПНЫЕ</p>
            <p id="serv_corr_font">ВОЕННО-ТАКТИЧЕСКИЕ ИГРЫ</p>
          </div>
          
          <div class="serv_block_open">
            <div class="serv_block_open_back"></div>
            <h1 id="serv_corr_font_open_1">КРУПНЫЕ</h1>
            <h1 id="serv_corr_font_open_2">ВОЕННО-ТАКТИЧЕСКИЕ ИГРЫ</h1>
            <div class="serv_name_text"></div>
            <p>qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop</p>
            <p>qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop</p>
            <p>qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop</p>
          </div>
        </div>

        <div class="serv_content_block">
          <img class="serv_block_img" src="img/serv3.png"/>
          <div class="serv_block_text">
            <div class="serv_name_text"> </div>

            <p>ДЕТСКИЙ ЛАЗЕРТАГ</p>
          </div>
          
          <div class="serv_block_open">
            <div class="serv_block_open_back"></div>
            <h1>ДЕТСКИЙ ЛАЗЕРТАГ</h1>
            <div class="serv_name_text"></div>
            <p>qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop</p>
            <p>qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop</p>
            <p>qwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiopqwertyuiop</p>
          </div>
        </div>

        <div class="serv_content_block">
          <img class="serv_block_img" src="img/serv4.png"/>
          <div class="serv_block_text">
            <div class="serv_name_text"> </div>

            <p>АРЕННЫЙ ЛАЗЕРТАГ</p>
          </div>
          
          <div class="serv_block_open">
            <div class="serv_block_open_back"></div>
            <h1>АРЕННЫЙ ЛАЗЕРТАГ</h1>
            <div class="serv_name_text"></div>
            <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.</p>
          </div>
        </div>
		  </div>
    </div>
  </div>
  <div class="services_bg">
    <!--img src="img/serv-bg.png" /-->
  </div>
</div>

<div class="equipment">
	
  <div class="equipment_content">
   EQUIPMENT
	<div class="equipment_tit">
		<a name="equip"></a>
		<p>ОБОРУДОВАНИЕ FIRETAG</p>
		<img src="img/about-separ.png" />
	</div>
	<div class="people">
		<img src="img/pupa_lupa_and_kupa.png">
	</div>
	<div class="container table">

		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 table_el">
				<div>
					<img src="img/eq-1.png">
					<div>
						Штаб каждой стороны укомплектован
						компьютером и проектором, позволяющим в реальном времени
						контролировать поле бое, состояние и положение бойцов своей
						стороны, обрабатывать запросы командиров групп и отправлять
						задание подразделениям.
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 table_el">
				<div>
					<img src="img/eq-2.png">
					<div>
						БПЛА, управляемые операторами из штаба, способны оказывать воздушную поддержку подразделениям
						1)Бомбометание
						<br>2)Разведка
						<br>3)Сброс снабжения 
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 table_el">
				<div>
					<img src="img/eq-3.png">
					<div>
						Универсальные лазерные
						модули могут использоваться
						с любым видом охолощенного
						оружия
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 table_el">
				<div>
					<img src="img/eq-4.png">
					<div>
						Датчики, созданные по новой
						технологии не чувствительны
						к переотражению( очень большая проблема для лазертага и фаертага)
					</div>
				</div>
			</div>
		</div>
		<div class="row second_row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 table_el">
				<div>
					<img src="img/eq-5.png">
					<div>
						Миниатюрные разведывательные дроны
						(удаленное управление с наручного компьютера)
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 table_el">
				<div>
					<img src="img/eq-6.png">
					<div>
						Носимые турели.
						(удаленное управление с наручного компьютера)
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 table_el">
				<div>
					<img src="img/eq-7.png">
					<div>
						Наручный компьютер позволяет командиру подразделения получать своевременную
						информацию из штаба и запрашивать поддержку
					</div>
				</div>
			</div>
		</div>
	</div>
 </div>
 <div class="equip_bg">
  <!--img src="img/equip-bg.png" /-->
</div>
</div>

<div class="map">
  <div class="map_content">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A81144eebb208395635786e319f5bbbd9441ede046e60c3526ae8e51a9e54b03c&amp;width=100%25&amp;height=620&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <div class="map_bg">
    <!--img src="img/map.png" /-->
  </div>
</div>

<div class="footer">
	<a name="contact"></a>
  <div class="footer_content">
  	<div class="container footer_container">
  		<div class="row contacts">
  			<div class="col-xs-12 col-md-6">
  			<div class="row foot-logo"> 
			    <div class="col-xs-4 col-md-6 footer-logo">
					<img src="img/logo1-1.png" alt="13 район">
			    </div>
			    <div class="col-xs-8 col-md-6 footer-adress">
			    	<hr>
					<p>Россия, Московская область, Красногорск, Ильинский тупик, 6А, 143405</p>
			    </div>
	  		</div>
	  	</div>
	  	<div class="col-xs-12 col-md-6">
	  	 	<div class="row footer_partners">
			    <div class="col-xs-4 flex-item">
			    	<img src="img/logo2.png" alt="TEXET">
			    </div>
			    <div class="col-xs-4 flex-item">
			    	<img src="img/logo3.png" alt="IFSA">
			    </div>
			    <div class="col-xs-4 flex-item">
			    	<img src="img/logo4.png" alt="Фармтек">
			    </div>
			</div>
	  	 </div>
  		</div>
	  <div class="row links">
	  	<div class="col-xs-0 col-md-6"></div>
	    <div class="col-xs-9 col-md-4 document-links">
	    	<p><a href="#">Политика в отношении обработки персональных данных</a></p>
	    	<p><a href="#">Согласие на обработку персональных данных</a></p>
	    </div>
	    <div class="col-xs-3 col-md-2 flex-item">
	    	<button class="social">
	    		<i class="fab fa-vk fa-md"></i>
	    	</button>
	    	<button class="social">
	    		<i class="fab fa-instagram fa-md"></i>
	    	</button>
	    </div>
		</div>
	</div>
  </div>
  <div class="footer_bg">
  </div>
</div>
</body>
</html>
