*{
	margin: 0;
	padding: 0;
}

.header {
	background-color: #4d0625;
	height: 50%;
	z-index: 3;
}

.logo { 
	min-height: 100px;
 }

 .logo img {
	width: auto;
 }

 .contact_block {
 	margin-top: 20px;
 	color: white;
 	font-size: 18px;
 }

.icons {
	margin-top: 10px;
}

.menu_content {
	background-color: #4d0625;
}

.leftbar {
	height: 70px;
	background-color: #1a1e23;
}

.menu {
	background-color: #1a1e23;
}
.rightbar {
	height: 70px;
	background-color: #1a1e23;
}

.orderCall {
	position: relative;
	top:10%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-color: darkred;
	height: 55px;
	width: 90%;
	color: white;
	bottom: 50%;
	border: 0.5px solid grey;
}


#orderText {
   text-align: center;
    align-self: center;
    font-size: 18px;
}

#navbarID {
	width: 100%;
	height: 100%;
}

#navbarID ul {
	height: 81%;
	margin-top: 5px;
	border-bottom: 0.5px solid grey;
	border-left: 0.5px solid grey;
}

#navbarID li {
	justify-content: center;
	height: 100%;
	//display: inline-flex;
	flex-direction: column;
}

#navbarID a {
	display: flex;
	align-self: center;
	text-decoration: none;
	padding: 8px 15px 0px 15px;
	color: white;
	font-size: 18px;
	border-left: 1px dashed grey;
	height: 70%;
}

#toggle-btn {
	display: none;
}

.mobile-tab {	
	background-color: #1a1e23;
	display: flex;
	flex-direction: column;
	clip-path: polygon(0 0, 95% 0, 75% 100%, 0% 100%);
}
.mobile-tab a{
	font-size: 1.0em;
	color: white;
	width: 100px;
	text-decoration: none;
	font-weight: lighter;
	letter-spacing: 1px;
}

.mobile-tab li{
	list-style-type: none;
	margin: 2% 0 2% 2%;
	border-bottom: 1px solid grey; 
}

.mobile-tab li:hover{
	border-bottom: 1px solid dimgrey; 
	background-color: dimgray;
}



.mobile-tab ul {
	padding: 0px 0px 3px 7%;
}

.as {
	height: 50px;
}


.fireLazertag {
	//border: 2px solid Turquoise;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.fireLazertag_bg {
	background-image: url(img/laser-bg.png);
	background-size: auto 100%;
	background-position: center;
	height: 52vw;
	min-height: 519px;
	margin: 0 0 -10vw 0px;
	position:relative;
	z-index: 2;
	//border: 2px solid blue;
}

.fireLazertag_bg>img{
	width: 100%;
}

.fireLazertag_content {
	//border: 5px solid green;
	width: 100%;
	position: absolute;
	z-index: 3;
	//padding-left: 0px;
}

.about {
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.about_bg {
	background-image: url(img/about-bg.png);
	background-size: auto 100%;
	background-position: center;
	height: 61.8vw;
	min-height: 613px;
	margin: -20.3vw 0 -10vw 0px;
	//border: 2px solid red;
}

.about_bg>img {
	width: 100%;
}

.about_content {
	font-family: 'Open Sans', sans-serif;
	//border: 5px solid yellow;
	width: 100%;
	height: 40vw;
	//margin-top: 0.7vw;
	position: absolute;
	z-index: 3;
}

.about_tit {
	//border: 2px solid LightSalmon;
	margin-top: 3vw;
	text-align: center;
}

.about_tit>p {
	font-family: 'Open Sans', sans-serif;
	font-size: 3vw;
	font-weight: bold;
	color: #FFFFFF;
}

.about_tit>img {
	width: 10vw;
	margin-top: -10px;
}

.about_text {
	//border: 2px solid blue;
	height: 25vw;
	max-width: 100vw;
	min-width: 38vw;
	width: 60vw;
	font-size: 16px;
	color: #FFFFFF;
}


ul {
  list-style-type:none;
}

.about_text ul li:before {
	content:  "—";
  position: relative;
  left:     -5px;
}

.about_content .container {
	margin-top: 1.5vw;
}

.about_circle {
	//border: 2px solid LightSalmon;
	height: 45vh;
}

/* WHAT IS FAIRTAG BLOCK */

.whatIsFiretag{
	margin: 0;
	position: relative;
	box-sizing: content-box;
}

.whatis_bg{
	background-image: url(img/whatis-bg.png);
	background-size: auto 100%;
	background-position: center;
	height: 72.25vw;
	min-height: 717px;
	position: relative;
	z-index: 2;
	margin: -16.8vw 0 -10vw 0px;
}

.whatis_bg>img{
	width: 100%;
}

.whatIsFiretag_content{
	margin-top: 12vw;
	width: 100%;
	position: absolute;
	z-index: 3;
}

.whatis_title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.whatis_title > h1 {
	font-weight: bold;
	font-size: 3vw;
	color: #eb3741;
}

.whatis_title > p {
	color: azure;
	font-size: 1vw;
}

#colortitle { color: white; }

.whatis_soldier{
	text-align: center;
}

.superiority{
	text-align: center;
}

.superiority > img{
	width: 7vw;
}

.superiority_title {
	color: azure;
	font-weight: bold;
	font-size: 1vw;
	margin-top: 5px
}

.superiority_text {
	color: #f1fff9;
	font-weight: lighter;
	font-size: 0.8vw;
	margin: 5px 0 5px;
}

#superiority-5 {
	text-align: center;
}

#superiority-5 > img {
	width: 10vw;
}


/* CLUB NEWS BLOCK */

.clubNews{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.news_bg{
	background-image: url(img/news-bg.png);
	background-size: auto 100%;
	background-position: center;
	height: 63.7vw;
	min-height: 632px;
	z-index: -1;
	margin: -16.5vw 0 -10vw 0px;
	//border: 2px solid red;
}

.news_bg>img{
	width: 100%;
}

.clubNews_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.services{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.services_bg{
	background-image: url(img/serv-bg.png);
	background-size: auto 100%;
	background-position: center;
	height: 68.9vw;
	min-height: 683px;
	position: relative;
	z-index: 2;
	margin: -16.8vw 0 -10vw 0px;
	//border: 2px solid red;
}

.services_bg>img{
	width: 100%;
}

.services_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.equipment{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.equip_bg{
	background-image: url(img/equip-bg.png);
	background-size: auto 100%;
	background-position: center;
	height: 140.35vw;
	min-height: 1392px;
	position: relative;
	z-index: -1;
	margin: -21vw 0 -10vw 0px;
	//border: 2px solid red;
}

.equip_bg>img{
	width: 100%;
}

.equipment_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.equipment_tit {
	border: 2px solid LightSalmon;
	margin-top: 16vw;
	text-align: center;
}

.equipment_tit>p {
	font-family: 'Open Sans', sans-serif;
	font-size: 2vw;
	font-weight: bold;
	color: #FFFFFF;
}

.equipment_tit>img {
	width: 10vw;
	//margin-top: -6px;
}

.people {
	width: 100%;
	height: 40vw;
	border: 2px solid blue;
}

.table {
	text-align: center;
	width: 70vw;
	height: 37vw;
	border: 2px solid green;
}

.table_el {
	//text-align: center;
	border: 1px solid red;
	height: 18.5vw;
	//width: 10vw;
}

.table_el>div {
	background-color: black;
	width: 80%;
	height: 18.5vw;
	margin-left: 10%;
	margin-right: 10%;
}

.second_row {
	width: 
}

.map{
	
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.map_bg{
	position: relative;
	z-index: 5;
	background-image: url(img/map.png);
	background-size: auto 100%;
	background-position: center;
	height: 47.9vw;
	min-height: 475px;
	position: relative;
	z-index: -1;
	margin: -42vw 0 -10vw 0px;
	//border: 2px solid red;
}

.map_bg>img{
	width: 100%;
}

.map_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.footer{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	z-index: 10;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.footer_bg{
	background-image: url(img/footer-bg.png);
	background-size: auto 100%;
	background-position: center;
	height: 27vw;
	min-height: 268px;
	position: relative;
	z-index: -1;
	margin: -16vw 0 -10vw 0px;
	//border: 2px solid red;
}

.footer_bg>img{
	width: 100%;
}

.footer_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

#slider{
    width: 100%;
    height: 35vw;

    position: relative;
}

.imgContainer{
    width: 57.5vw;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    position: relative;
}

.img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    
    transition: left 1s;
}

.img.prev{
    left: -100%;

    display:block;
}

.img.curr{
    left: 0;

    display:block;
}

.img.next{
    left: 100%;

    //opacity: 0;

    display:block;
}

.invis{
    opacity: 0;
}

.pic{
    height: 100%;
    width: 100%;
}

#slider-left {
    position: absolute;

    top: 50%;  
    left: 11%; 

    z-index: 3;
    /*left: 644px;*/                  
    transform: translate(0, -50%); 

    margin-left: 10%;

    color: #fff;
    font-size: 3vw;
}

#slider-right {
    position: absolute;

    top: 50%;  
    right: 11%; 

    z-index: 3;
    /*left: 644px;*/                  
    transform: translate(0, -50%); 

    margin-right: 10%;

    color: #fff;
    font-size: 3vw;
}

#slider-left:hover{
    color: #7092bf;
}

#slider-right:hover{
    color: #7092bf;
}
/*Очень плохо*/
.indicator{ 
    width: 100%;
    position: absolute;

    top: 80%;
    left: 50%;
    transform: translate(-50%, 0); 

    margin: 0 auto;
    padding-left: 48%;
}

.indicator:after{      /*Сброс обтекания у ряда (создание псевдоэлемента after после обычного эл.)*/
    clear: both; /*очистить поток слева и справа*/
    content: "";      
    display: table; /*корректное отображение*/
}

.circle{
    float: left;
    width: 1vw; 
    height: 1vw;
    border-radius: 50%;
    background: white;
    margin-right: 1%;
}

.on{
    background: red;
}

/*Очень плохо*/

@media (max-width: 920px) {
    .about_content {
		height: 43vh;
	}
	/*.about_text {
		font-size: 13px;
		height: 33vh;
		width: 60vw;
	}*/
}

@media (min-width: 2000px) {
    
}

/* ===== WARNING! ===== АДАПТИВНОСТЬ ===== WARNING! ===== */

@media (min-width: 300px) and (max-width: 768px) {
	.about_text {
		font-size: 13px;
		height: 53vh;
		width: 70vw;
		font-size: 10px;
	}
	.about .container {
		margin-top: 0px;
	}
}

@media (max-width: 768px) {

	.header_content {
		text-align: center;
	}

	.leftbar {
		clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
	}

	.orderCall {
		width: 80%;
	}
	.rightbar {
		clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);
	}
	
	.about_content {
		height: 43vh;
	}
	
		.whatis_title > h1 {
		font-size: 20px;
	}

	.whatis_title > p {
		font-size: 8px;
		margin-bottom: 0px;
	}
	.whatis_title > img {
		width: 10vw;
	}

	.whatis_title > img {
		width: 78px;
	}
	.whatis_soldier {
	}
	.whatis_soldier > img {
		min-width: 100px;
		width: 20vw; 
		position: relative;
		top: -9vw;
		z-index: 1;
	}
	.superiority > img{
		width: 60.5px;
	}
	.superiority_title {
		font-size: 1.6vw;
	}
	.superiority_text {
		font-size: 1.5vw;
		margin: 0px 0vw 0px 0vw;
	}
	#superiority-5 > img {
		width: 100px;
	}
	

}

@media (min-width: 768px) and (max-width: 992px) {
	.footer {
		//margin-bottom: -750px;
	}

	.header_content {
		text-align: center;
	}

	.leftbar {
		clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
	}

	.rightbar {
		clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);
	}
	
	.about_text {
		font-size: 13px;
		height: 53vh;
		width: 55vw;
	}
	
	.about .container {
		margin-top: 0px;
	}

		.whatis_title > img {
		width: 10vw;
	}
	.whatis_soldier > img {
	    width: 24vw;
	    position: relative;
	    top: -34vw;
	}
}

@media (max-width: 992px){
	.fireLazertag_bg {
		margin: 0 0 -99px 0;
	}
	.about_bg {
		margin: -201px 0 -99px 0;
	}
	.whatis_bg{
		margin: -167px 0 -99px 0;
	}
	.news_bg{
		margin: -164px 0 -99px 0;
	}
	.services_bg{
		margin: -167px 0 -99px 0;
	}
	.equip_bg{
		margin: -208px 0 -99px 0;
	}
	.map_bg{
		margin: -417px 0 -99px 0;
	}
	.footer_bg{
		margin: -159px 0 -99px 0;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {

	.leftbar {
		clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
	}

	.rightbar {
		clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);
	}
	
	.about_text {
		font-size: 13px;
		height: 33vh;
		width: 60vw;
	}

	.whatis_title > img {
		width: 10vw;
	}
	.whatis_soldier > img {
	    width: 24vw;
	    position: relative;
	    top: -34vw;
	}
}

@media (max-width: 1200px){
	#toggle-btn{
		display: inline-flex;
		align-items: flex-start;
		position: relative;
		top:25%;
	}

	#navbarID ul {
	border-bottom: none;
	border-left: none;
}

	#toggle-btn:hover{
		color: white;
	}
	.desktop-menu-item{
		display: none;
	}
	.mobile-tab {
		display: none;
		background-color: #1a1e23;
		z-index: 3;
	}
	.about_tit {
		margin-top: 1.5vh;
	}

}
@media (min-width: 1200px) {
	.leftbar {
		clip-path: polygon(0% 0, 100% 0, 95% 100%, 0% 100%);
	}
	.rightbar {
		clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
	}
	#navbarID li {
	display: inline-flex;
	}
	.mobile-tab {
		position: relative;
		display: none!important;
		background-color: #1a1e23;
		z-index: 3;
	}
	
	.about_text {
		font-size: 16px;
		height: 33vh;
		width: 65vh;
	}
	
	.whatis_soldier > img {
	    width: 24vw;
	    position: relative;
	    top: -34vw;
	}
}

@media (min-width: 1500px) {
	.about_text {
		font-size: 16px;
		height: 33vh;
		width: 45vw;
		//border: 2px solid red;
	}
}

@media (min-width: 2050) and (max-width: 2350) {
	.about_circle {
		display: inline-block;
	}
	.about_text {
		font-size: 20px;
		height: 33vh;
		width: 50vw;
		display: inline-block;
		position: right;
	}
}