.header {
	background-color: #4d0625;
}

.logo { 
	min-height: 100px;
 }

 .logo img {
	width: auto;
 }

 .contact_block {
 	margin-top: 20px;
 	color: white;
 }

.icons {
	margin-top: 10px;
}

.menu {
	
}

.leftbar {
	height: 50px;
	//-webkit-clip-path: polygon(0 0, 39% 0, 100% 100%, 0% 100%);
	//clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
	z-index: 4;
	background-color: #1a1e23;
}

.navbar_content {
	margin-left: 10%;
	height: 50px;
	text-align: center;
	font-size: 18px;
	color: white;
}

.navbar {
  min-height: 80px;
}

.rightbar {
	background-color: #1a1e23;
	height: 50px;
	clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}
.menu_content {
	background-color: #4d0625;
	height: 50px;
}



.fireLazertag {

	//border: 2px solid Turquoise;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.fireLazertag_bg {
	position:relative;
	z-index: 2;
	margin: 0 0 -10vw 0px;
	//border: 2px solid blue;
}

.fireLazertag_bg>img{
	width: 100%;
}

.fireLazertag_content {
	//border: 5px solid green;
	width: 100%;
	position: absolute;
}

.about {
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.about_bg {
	margin: -20vw 0 -10vw 0px;
	//border: 2px solid red;
}

.about_bg>img {
	width: 100%;
}

.about_content {
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.whatIsFiretag{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.whatis_bg{
	position: relative;
	z-index: 2;
	margin: -16.7vw 0 -10vw 0px;
	//border: 2px solid red;
}

.whatis_bg>img{
	width: 100%;
}

.whatIsFiretag_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.clubNews{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.news_bg{
	z-index: -1;
	margin: -16.5vw 0 -10vw 0px;
	//border: 2px solid red;
}

.news_bg>img{
	width: 100%;
}

.clubNews_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.services{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.services_bg{
	position: relative;
	z-index: 2;
	margin: -16.5vw 0 -10vw 0px;
	//border: 2px solid red;
}

.services_bg>img{
	width: 100%;
}

.services_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.equipment{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.equip_bg{
	position: relative;
	z-index: -1;
	margin: -21vw 0 -10vw 0px;
	//border: 2px solid red;
}

.equip_bg>img{
	width: 100%;
}

.equipment_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.map{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.map_bg{
	position: relative;
	z-index: -1;
	margin: -42vw 0 -10vw 0px;
	//border: 2px solid red;
}

.map_bg>img{
	width: 100%;
}

.map_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

.footer{
	margin: 0;
	//border: 2px solid LightSalmon;
	position: relative;
	//box-sizing: border-box;
	box-sizing: content-box;
}

.footer_bg{
	position: relative;
	z-index: -1;
	margin: -16vw 0 -10vw 0px;
	//border: 2px solid red;
}

.footer_bg>img{
	width: 100%;
}

.footer_content{
	//border: 5px solid yellow;
	width: 100%;
	position: absolute;
}

/* ===== WARNING! ===== АДАПТИВНОСТЬ ===== WARNING! ===== */

@media (max-width: 768px) {

	.header_content {
		text-align: center;
	}

.leftbar {
	clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.footer {
		//margin-bottom: -750px;
	}

	.header_content {
		text-align: center;
	}

	.leftbar {
	clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
	}
}

@media (min-width: 992px) and (max-width: 2000px) {
	.footer_bg>img {
		//margin-bottom: -550px;
	}

	.footer {
		//margin-bottom: -550px;
	}

	.leftbar {
	clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
	}
}
